<section id="pricing">
    <div class="container">
        <p class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 ">
            >Backend Courses
        </p>
        <div class="indigo fs-s10 italic after-arrow-right my-4">
            upcoming
            courses</div>
    </div>
    <div class="p-10 flex flex-wrap">

        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVA I</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVA</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">Java is a widely used object-oriented programming language and software
                            platform that runs on.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>PHYTON I</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:PHYTON</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">Phyton is a widely used object-oriented programming language and software
                            platform that runs on.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>PHYTON II</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:PHYTON</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">Phyton is a widely used object-oriented programming language and software
                            platform that runs on.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVA II</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVA</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">Java is a widely used object-oriented programming language and software
                            platform that runs on.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing">
    <div class="p-10 flex flex-wrap">
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVA III</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVA</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">Java is a widely used object-oriented programming language and software
                            platform that runs on billions of devices.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVASCRIPT I</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVASCRIPT</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">JavaScript (often shortened to JS) is a lightweight, interpreted,
                            object-oriented language with first-class functions.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVASCRIPT II</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVASCRIPT</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">JavaScript (often shortened to JS) is a lightweight, interpreted,
                            object-oriented language with first-class functions.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
        <div class="w-100pc md-w-25pc">
            <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                <div class="p-3">
                    <h3 class="title-course indigo">>JAVASCRIPT III</h3>
                </div>
                <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Start date: 2022-09-13</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Lenguage:JAVASCRIPT</span>
                    </div>
                    <div>
                        <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                        <span class="opacity-50">Type: Backend</span>
                    </div>
                    <div>
                        <i class="h-3" stroke-width="4" data-feather="x"></i>
                        <span class="opacity-50">JavaScript (often shortened to JS) is a lightweight, interpreted,
                            object-oriented language with first-class functions.</span>
                    </div>
                </div>
                <div class="p-3">
                    <a href="/course-details"> <button
                            class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                </div>
            </div>
        </div>
    </div>
</section>