<!-- <div class="container">
<h2>COURSE DETAILS</h2>
    <h3>{{ course.courseName }}</h3>
    <h4>Start Date:{{course.startDate}}</h4>
    <h5><strong>Type:{{course.developerType}}</strong></h5>
    <h5><strong>Lenguage:{{course.lenguage}}</strong></h5>
    <hr>
    <p>Description: {{course.description}}</p>
    <button (click)="goBack()">Back</button>
</div> -->


<div class="container-details">
    <h2 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 "> >Course details</h2>
    <div class="p-3">
        <h3 class="title-course indigo">>REACT III</h3>
    </div>
    <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
        <div>
            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
            <span class="opacity-50">Start date: 2022-09-13</span>
        </div>
        <div>
            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
            <span class="white fw-600 fs-m3 mb-5">Lenguage: REACT</span>
        </div>
        <div>
            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
            <span class="white fw-600 fs-m3 mb-5">Type: <a class="no-underline indigo"
                    href="/frontend"><span>Frontend</span></a> </span>
        </div>
        <div>
            <i class="h-3" stroke-width="4" data-feather="x"></i>
            <span class="opacity-50">React is a declarative, efficient, and
                flexible JavaScript library for building user interfaces.
                Using React.js for web development may come in extremely convenient because React is one of those cases
                where you get
                the hang of a single technology to easily reuse it across a range of platforms. And all due to being a
                library by
                nature, with the primary purpose of creating separate web design elements and components (anything from
                buttons and
                labels to grids and interactive features).
                <br>
                <br>
                On top of that, there is a significant contribution by the extensive, long-established community.
                React’s current
                ecosystem is so vast that it enables developers to create desktop solutions and mobile applications,
                generate static
                websites, handle server rendering, and integrate advanced tech concepts (like VR and 360 views) with web
                solutions - all
                by similar, simple react web development guidelines and philosophies.
                <br>
                <br>
                Hassle-free reusability of components
                We answer the ultimate question above - what is React.js used for in web development most particularly?
                For creating
                separate components. And this is exactly why created components can be easily reused. Once you’ve
                created a React.js web
                application element, you get a unique object that can be added to any other project compatible with the
                React-based
                code.
                <br>
                While a bigger general hierarchy is built out of those components (which are wrapped into higher-level
                components), each
                has a separate dedicated internal logic and rendering principle. This grants outstanding scaling
                opportunities helps to
                achieve much better React web app consistency and makes further support and optimization a piece of
                cake.</span>
        </div>
    </div>
    <div class="p-3">
        <a routerLink="/user-profile"> <button
                class="button full bg-white black no-underline hover-opacity-100 ease-300">SUSCRIBE</button></a>
    </div>
    <div>
        <app-comment></app-comment>
    </div>
</div>