<section>
    <div class="comment-input">
        <h4 class="white fs-l3 lh-2 md-fs-m1 md-lh-1 fw-900"> Write your comment about the course... </h4> 
        <div contenteditable class="fake-textarea"></div>
        <textarea name="comment" form="usrform">Enter text here</textarea>
    </div>
    <div id="slider-2">
        <div class="px-3">
            <div class="p-8 br-8 bg-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">This course it´s so good to start
                    coding. </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                            src="https://randomuser.me/api/portraits/men/46.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Victor </div>
                        <div class="indigo-lightest opacity-20">Product Manager, MDZ</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="px-3">
            <div class="p-8 br-8 bg-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">I learn a lot of regular expresions
                    with this videos. So good!! </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                            src="https://randomuser.me/api/portraits/men/46.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">Arnoldo Sicilia</div>
                        <div class="indigo-lightest opacity-20">Full Stack developer, MDZ</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="px-3">
            <div class="p-8 br-8 bg-lightest-10 relative">
                <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
                <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">The best course I have ever done!!
                </p>
                <div class="flex items-center my-5">
                    <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                            src="https://randomuser.me/api/portraits/men/46.jpg" alt=""></div>
                    <div class="ml-4 fs-s1">
                        <div class="indigo-lightest">María Fdez</div>
                        <div class="indigo-lightest opacity-20">Frontend developer, CDZ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>