<div class="card text-center">
    <h2 class="title-section">USER PROFILE</h2>
    <div class="container">
        <p class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 ">
            Welcome back to BR, Arnoldo...
        </p>
        <div class="indigo fs-s10 italic after-arrow-right my-4">This is your user profile. Here you can see your
            upcoming
            courses</div>
    </div>
    <div>
        <div class="p-10 flex flex-wrap">
            <div class="w-100pc md-w-25pc">
                <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                    <div class="p-3">
                        <h3 class="title-course indigo">>ANGULAR I</h3>
                    </div>
                    <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Start date: 2022-09-13</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Lenguage:ANGULAR</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Type: Frontend</span>
                        </div>
                        <div>
                            <i class="h-3" stroke-width="4" data-feather="x"></i>
                            <span class="opacity-50">Angular is a platform and framework for building single-page client
                                applications using HTML and TypeScript</span>
                        </div>
                    </div>
                    <div class="p-3">
                        <a href="/course-details"> <button
                                class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                    </div>
                </div>
            </div>

            <div class="w-100pc md-w-25pc">
                <div class="m-3 p-5 br-8 bg-indigo-lightest-10 overflow-hidden">
                    <div class="p-3">
                        <h3 class="title-course indigo">>REACT III</h3>
                    </div>
                    <div class="p-3 indigo-lightest fw-400 fs-s1 lh-5">
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Start date: 2022-09-13</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Lenguage:React</span>
                        </div>
                        <div>
                            <i class="h-3 indigo" stroke-width="4" data-feather="check"></i>
                            <span class="opacity-50">Type: Frontend</span>
                        </div>
                        <div>
                            <i class="h-3" stroke-width="4" data-feather="x"></i>
                            <span class="opacity-50">React is a declarative, efficient, and
                                flexible JavaScript library for building user interfaces</span>
                        </div>
                    </div>
                    <div class="p-3">
                        <a href="/course-details"> <button
                                class="button full bg-black white  hover-opacity-100 hover-scale-up-1 ease-300">DETAILS</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>