<div>
    <!-- hero section -->
    <section id="home" class="min-h-100vh flex justify-start items-center">
        <div class="mx-5 md-mx-l5">
            <div class="inline-block br-round bg-indigo-30 indigo-lightest p-2 fs-s2 mb-5">
                <div class="inline-block bg-indigo indigo-lightest br-round px-3 py-1 mr-3 fs-s3">Join Us</div>
                Learn more…
            </div>
            <div>
                <h1 class="white fs-l3 lh-2 md-fs-xl5 md-lh-1 fw-900 ">
                    >br
                    < your reality <br />Start programming
                </h1>
                <div class="white opacity-20 fs-s3 mt-3">No credit card required>
                </div>
            </div>

        </div>
    </section>

    <!-- features -->
    <section id="features" class="p-10 md-p-l5">
        <div class="flex flex-column md-flex-row mx-auto">
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                            class="w-l"><span class="material-icons">
                                public
                            </span></i></div>
                    <h4 class="white fw-600 fs-m3 mb-5">Global Network</h4>
                    <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-50">Leverage a network of 250+ employers
                        looking to hire.</div>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                            class="w-l"><span class="material-icons">
                                auto_graph
                            </span></i></div>
                    <h4 class="white fw-600 fs-m3 mb-5">Student Success</h4>
                    <div class="indigo-lightest fw-600 fs-m1 opacity-50">Stay on track with 24/7 on-demand academic
                        support.</div>
                </div>
            </div>
            <div class="w-100pc md-w-40pc">
                <div class="br-8 p-5 m-5">
                    <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                            class="w-l"><span class="material-icons">
                                support_agent
                            </span></i></div>
                    <h4 class="white fw-600 fs-m3 mb-5">Career Support</h4>
                    <div class="indigo-lightest fw-600 fs-m1 opacity-50">Access free professional resources throughout
                        your career.</div>
                </div>
            </div>
        </div>
    </section>


    <!-- big text -->
    <section class="p-10 md-py-10">
        <div class="w-100pc md-w-70pc mx-auto py-10">
            <h2 class="white fs-l2 md-fs-xl1 fw-900 lh-2">
                Select course by type of <span class="border-b bc-indigo bw-4"> lenguage</span> or if it´s <span
                    class="border-b bc-indigo bw-4"> <a routerLink="/backend" class="no-underline white">backend</a> </span> or <span
                    class="border-b bc-indigo bw-4"> <a routerLink="/frontend" class="no-underline white">frontend</a> </span>
            </h2>
        </div>
    </section>

    <!-- subscribe -->
    <section class="p-10 md-p-l5">
        <div class="br-8 bg-indigo-lightest-10 p-5 md-p-l5 flex flex-wrap md-justify-between md-items-center">
            <div class="w-100pc md-w-33pc">
                <h2 class="white fs-m4 fw-800">Try BR today</h2>
                <p class="fw-600 indigo-lightest opacity-40">Forever free for
                    open source courses.</p>
            </div>
            <div class="w-100pc md-w-50pc">
                <div class="flex my-5">
                    <input type="text"
                        class="input-lg flex-grow-1 bw-0 fw-200 bg-indigo-lightest-10 white ph-indigo-lightest focus-white opacity-80 fs-s3 py-5 br-r-0"
                        placeholder="Email Address">
                    <button class="button-lg bg-indigo indigo-lightest fw-300 fs-s3 br-l-0">Signup now</button>
                </div>
            </div>
        </div>
    </section>
</div>